<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="icon" href="../../img/branding/favicon.png">
  </head>
  <body>
     <!--   Inicio Header   -->
     <%- include('../partials/header') %>
     <!--Fin Header-->

    <body>
      <div class="form-group__create">
        <form
          action="/admin/create"
          method="POST"
          enctype="multipart/form-data"
        >
          <h2>CREAR NUEVO ITEM</h2>
          <div class="form-group__primero form-create-item">
            <div>
              <label class="form__box--label" for="category">Categoría:</label>
              <select
                class="form__box--select"
                name="category"
                id="category"
              >
                <option value="" disabled selected hidden>Seleccionar</option>
                <option value="1">
                  Figuras Coleccionables
                </option>
                <option value="3">Llaveros</option>
                <option value="2">Remeras</option>
              </select>
            </div>
            <div class="">
              <label class="form__box--label" for="licence">Licencia:</label>
              <select class="form__box--select" name="licence" id="licence">
                <option disabled selected hidden>Seleccionar</option>
                <option value="2">Star Wars</option>
                <option value="1">Pokemon</option>
                <option value="3">Harry Potter</option>
              </select>
            </div>
          </div>
          <div class="form-group__segundo form-create-item">
            <label  class="form-group__segundo-label" for="name">Nombre del producto:</label>
           
            <input
              type="text"
              id="name"
              size="tamaño"
              name="name"
              placeholder="Kakashi Hatake Shippuden Saga"
              required
            />
          </div>
          <div class="form-group__tercero form-create-item">
            <textarea
              type="file"
              id="description"
              size="tamaño"
              name="description"
              placeholder="Descripción del producto"
              rows="10"
              cols="50"
            ></textarea>
          </div>
          <div class="form-group__cuarto  form-create-item">
            <div class="form-group__cuarto-item">
              <label for="sku">SKU:</label>
            <input
              type="text"
              id="sku"
              size="tamaño"
              name="sku"
              placeholder="SSK111AB001"
              required
            />
            </div>
            <div class="form-group__cuarto-item">
              <label for="price">Precio:</label>
              <input
                type="text"
                id="price"
                size="tamaño"
                name="price"
                placeholder="$ 0.000,00"
                required
              />
            </div>
            <div class="form-group__cuarto-item last-child">
              <label  for="stock">Stock:</label>
              <input
              
                type="text"
                id="stock"
                size="tamaño"
                name="stock"
                placeholder="0"
                required
              />
            </div>
           
          </div>

          <div class=" form-group__cuarto form-create-item">
            <div class="form-group__cuarto-item last-child">
              <label for="discount">Descuento:</label>
            <input
              type="text"
              id="discount"
              size="tamaño"
              name="discount"
              placeholder="0%"
              required
            />
            </div>
            <div>
              <label for="dues">Cuotas:</label>
              <select class="form__box--select" id="dues" name="dues">
                <option value="3">3 cuotas sin interés</option>
                <option value="6">6 cuotas</option>
                <option value="12">12 cuotas</option>
                <option value="24">24 cuotas</option>
              </select>
            </div>

           
          </div>
          <div class="form-group__cuarto form-create-item">
            <div class="form-group__cuarto-item last-child-file">
            <label for="images">Imágenes:</label>
            <input type="file" id="images" name="images" accept="image/*" multiple/>
            </div>
            
          </div>

          <div class="input_box btns">
            <button type="submit">Agregar Producto</button>
            
            <button type="reset">Limpiar</button>
            
           </div>

        </form>
      </div>
   
  
    <!--Inicio Footer-->
    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>
