<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="icon" href="../../img/branding/favicon.png" />
  </head>

  <body>
    <!--   Inicio Header   -->
    <%- include('../partials/header') %>
    <!--Fin Header-->

    <!--REGISTRO-->
    <div class="form__containerRegistro ">
      <form id="formulario"  action="/auth/login" method="post" target="_blank">
        <h2>CREA TU CUENTA</h2>
<p class="p_register">Completa el formulario para ser parte del mundo de los Funkos</p>
        <div class="form__container__register">

          <div class="form-group">
            <div class="input_reg">
              <label  for="email">Nombre:</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="John"
              />
            </div>
            </div>
          <div class="form-group">
            <div class="input_reg">
              <label   for="email">Apellido:</label>
              <input
                type="text"
                id="lastname"
                name="lastname"
                placeholder="Doe"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input_reg">
              <label  email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="johndoe@correo.com"
              />
            </div>
  
          </div>
          <div class="form-group">
            <div class="input_reg pass">
              <label  password">Contraseña:</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="••••••••••••••••••"
                required
              />
            </div>
          </div>
            <div class="form-group">
              <div class="input_reg pass">
                <label for="password">Repita Contraseña:</label>
                <input 
                  type="password"
                  id="password"
                  name="password"
                  placeholder="••••••••••••••••••"
                  required
                />
              </div>
              </div>


       <div class="input_box">
          <button type="submit">Registrar</button>
          <label
            ><div class="form_pass_reg">
              <input
                  type="checkbox"
                  name="recordarContraseña"
                  value="Recordarme"
                  class="mycheck"
                />Acepto
              <a href="#">Terminos y Condiciones</a>
            </div></label
          >
        </div>
        
        </div>
      </form>
    </div>
    <!--Footer-->
    <%- include('../partials/footer') %>
  </body>
</html>
